{% extends 'base.html.twig' %}
{% block title %}Results{{ parent() }}{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container container-index">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card mt-4 card-shadow">
                    <div class="card-body">
                        <h3 class="card-title justify-content-center">Sektorių pridėjimas</h3>
                        <div class="form">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <h5> Komanda</h5>
                                </div>
                                <div class="col-4">
                                    <h5>Sektorius</h5>
                                </div>
                            </div>
                            {% for team in form.teams %}
                                <div class="row">
                                    <div class="col-6">
                                {{ form_row(team.teamName) }}
                                    </div>
                                    <div class="col-6">
                                {{ form_row(team.sectorNr) }}
                                    </div>
                                </div>
                            {% endfor %}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}