/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 1024px) {

  .event {
      .card {
        flex-basis: 100%;
        .event__data {
          border: none;
        }
        .event__date {
          font-size: 20px;
          line-height: 30px;
          span {
            display: inline;
            text-align: left;
            &.year {
              font-size: 20px;
            }
            &.days {
              font-size: 20px;
            }
          }
        }
      }
    }


  i.fa-bars {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__link--black {
    color: white;
  }
  .heading {
    font-size: 38px;
  }

  .heading--grey {
    color: black;
  }

  .start-left-side-wrapper {
    margin-left: 0;
  }

  .section {
    height: auto;
    display: flex;
    justify-content: center;
  }
  .home-right-side {
    display: none;
  }

  .home-start {
    padding: 0;
    .main-header-container {
      margin-bottom: 1rem;
      min-height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4.5rem;
      background: url("./images/header_hq.png") no-repeat center;
      -webkit-background-size: cover;
      background-size: cover;
      .heading {
        text-align: center;
        color: white;
        margin-top: 0;
      }
    }
    .event {
      width: 100%;
      padding-bottom: 20px;
    }

  }

  .button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    background-color: $mainGreen;
    margin: 0 auto;
    max-width: 250px;
  }

  .button__blue-transparent {
    background-color: $mainGreen;
    border: 1px solid $mainGreen;

    &:hover {
      background-color: darken($mainGreen, 15%);
      border: 1px solid darken($mainGreen, 15%);
      color: #fff;
    }
  }

  .event-card-container {
    .card {
      flex-basis: 100%;
    }
  }

  .contact-card {
    flex-basis: 100%;
    min-width: 250px;
  }
}

@media only screen and (max-device-width: 550px) {
  .page-name-container {
    h2 {
      margin-top: 20px;
      font-size: 2rem;
    }
  }

  .event {
    .event__heading {
      font-size: 30px;
      padding: 20px;
      text-align: left;
    }
    .row {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .mobile-event {
      border: 1px solid #eee;
      width: 100%;
      flex: 1 1 auto;
      padding: 30px;
      margin-bottom: 10px;
    }
  }

}

