

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-device-width : 1024px)
{
  i.fa-bars{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__link--black {
    color:white;
  }
  .heading {
    font-size: 38px;
  }

  .heading--grey {
    color: black;
  }

  .start-left-side-wrapper {
    margin-left: 0;
  }

  .section {
    height: auto;
    display: flex;
    justify-content: center;
  }
  .home-right-side {
    display: none;
  }


  .home-start {
    padding: 0;
  .main-header-container {
    margin-bottom: 1rem;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
    background: url("./images/header_hq.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    .heading {
      text-align: center;
      color: white;
      margin-top: 0;
    }
  }
    .event {
      text-align: center;
    }

  }


  .button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    background-color: $mainBlue;
    margin: 0 auto;
    max-width: 250px;
  }

  .button__blue-transparent {
    background-color:  $mainBlue;
    border: 1px solid $mainBlue;

    &:hover {
      background-color: darken($mainBlue, 15%);
      border: 1px solid darken($mainBlue, 15%);
      color: #fff;
    }
  }

//: TODO padaryt, kad tablete rodytu po du
  .event-card-container {
    .card {
      flex-basis: 100%;
    }
  }
}
@media only screen
and (max-device-width : 550px) {
 .event {
   .event__heading {
     font-size: 38px;
     padding: 10px;
   }
   .row {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
   }

   .mobile-event {
     padding: 10px;
     margin-bottom: 12px;
     width: auto;
     border: 1px solid #eee;

   }
 }

}

