{% extends 'base.html.twig' %}

{% block title %}Apie mus {% endblock %}

{% block body %}
    <div class="page-name-container">
        <h2>Apie mus</h2>
    </div>

    <div id="about-us" class="container-fluid">
        <div class="container-fluid bg-light">
            <section id="" class="">
                <div class="row about-us-container mx-0">
                    <div class="col-lg-6 col-sm-12 about-us-text-container">
                        <p class="mt-5">Mes - visi karpininkai dalyvaujantys varžybose. Šis puslapis skirtas, mums, sekti varžybų rezultatus, bei kartu džiaugtis savais ir kitų karpininkų pasiekimais. O kas organizuojate varžybas, nesidrovėkite naudotis sistema, tai padės ir jums, ir žiūrovams!</p>
                        <div class="row mx-0">
                            <div class="contact container d-flex flex-wrap justify-content-sm-around mt-3">
                                <div class="card contact-card">
                                    <div class="card-body d-flex flex-column justify-content-center">
                                        <h4 class="card-title text-center"><i class="fa fa-phone-volume"></i></h4>
                                        <p class="card-text text-center">+37065051587</p>
                                    </div>
                                </div>
                                <div class="card contact-card">
                                    <div class="card-body d-flex flex-column justify-content-center">
                                        <h4 class="card-title text-center"><i class="fa fa-envelope" ></i></h4>
                                        <p class="card-text text-center">linas.kukulskis@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <img src="{{ asset('images/about-us_bg.jpeg') }}" alt="">
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}