{% extends 'base.html.twig' %}
{% import 'macro/index.macro.html.twig' as myMacros %}
{% block title %}Renginiai{% endblock %}
{% set picture = 0 %}
{% block body %}
    <div class="page-name-container">
        <h2>Varžybos</h2>
    </div>
    <section id="previous-events" class=" u-pb-5">
        <div class="container">
            <h2 class="heading heading--blue-border heading--center">Būsimos varžybos</h2>
            <div class="row">
                {% if futureCompetitions != null %}
                    <div class="offset-lg-2 col-lg-8 px-0 event">
                        {% for competition in futureCompetitions %}
                            {{ myMacros.printCompetitions(
                                competition,
                                1
                            ) }}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class=" event d-flex justify-content-center align-items-center">
                        <h6>Šiuo metu būsimų varžybų nėra.</h6>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="previous-events" class=" u-pb-5">
        <div class="container">
            <h2 class="heading heading--blue-border heading--center" id="competitions">Praėjusios varžybos</h2>
            <div class="row">
                <div class="col-lg-2">
                    <div class="list-group d-none d-sm-block px-0 ">
                        {% for years in expiredCompetitionsYears %}
                            {{ myMacros.printYears(years) }}
                        {% endfor %}
                    </div>
                    <div class="d-sm-none">
                        <span class="u-bg-main-text years" id="open">Varžybų archyvas <i class="fas fa-angle-double-right"></i></span>
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" id="close" class="closebtn"><i class="fas fa-angle-double-left"></i></a>
                            {% for years in expiredCompetitionsYears %}
                                {{ myMacros.printYears(years) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 px-0">
                    <div class="event" id="event">
                        {% for competition in expiredCompetitions %}
                            {{ myMacros.printCompetitions(
                                competition,
                                0) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}