{% extends 'base.html.twig' %}
{% import 'macro/index.macro.html.twig' as myMacros %}
{% block title %}Sportinė karpių žūklė {% endblock %}
{% set picture = 1 %}
{% block body %}
    <div class="container-fluid home-start">

        <div class="row mx-0">
            <div class="home-left-side col-lg-6 col-sm-12 pb-3">
                <div class="start-left-side-wrapper d-flex flex-column ">
                    <div class="main-header-container">
                        <h1 class="heading heading--blue-border ">Sportinė karpių žūklė</h1>
                    </div>
                    <div class="event">
                        {% if competitions['goingCompetitions'] is defined %}
                        <h3 class="event__heading mb-4">Šiuo metu vyksta:</h3>
                            {% for competition in competitions['goingCompetitions'] %}
                        {{ myMacros.printCompetitions(
                            competition,
                            0
                        )
                        }}
                            {% endfor %}
                        {% endif %}
                        {% if competitions['expiredCompetitions'] is defined %}
                            <h3 class="event__heading mb-4">Paskutinės varžybos:</h3>
                            {% for competition in competitions['expiredCompetitions'] %}
                            {{ myMacros.printCompetitions(
                                competition,
                                0)
                            }}
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="home-right-side col-lg-6 col-sm-12 .d-sm-none .d-md-block">

            </div>
        </div>
    </div>


{% endblock %}