<div class="container-fluid">
    <div class="left-block">
        <div class="text__big">
            Sportinė karpių žuklė
        </div>
        <div class="button button__blue">
            <button>
                Organizuoti varžybas
            </button>
        </div>
        <div class="button button__white">
            <button>
                Varžybų rezultatai
            </button>
        </div>
    </div>
    {# Uždėt bg pagalbot apie info kurį rodyti #}
    <div class="right-block">

    </div>
</div>