<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ "Varžybų pradžios vedlys" }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/tingle.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block canonical_meta %}{% endblock %}
</head>
<body>
{% include "flashMessages.html.twig" %}
    <div class="text-center text-white u-bg-main h4 w-100" style="height: 40px; top:0; position: absolute; z-index: 9999">Varzybu pradzios vedlys</div>
    <div class="container-fluid h-100 px-0">
        {% include "organizer/stepper/side-stepper.html.twig" %}
            <div class="wizard-content flex-fill">
                <div class="wizard-content__banner-container">
                    <div class="page-name-container u-no-mt ">
                        <h2> {% block panelName %}{% endblock %} </h2>
                    </div>
                </div>

                {% block body %}{% endblock %}
            </div>
    </div>
{% include "organizer/footer.html.twig" %}
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>