
.home-left-side {
  .navbar {
    background-color:transparent;
     a{
       &:hover {
         color: $mainBlue;
       }
     }
  }
}

ul.navbar-nav {
  margin-left: 45px;
}

.navbar__link--black {
  color: #000000;
  &:hover{
    color: $mainBlue;
  }
}

.navbar {

  color:black;
}

.nav-item {
  color: #000;
}

.nav-link {
  color: #000;
}

.navbar-brand {
  color: #fff;
}

.navbar-default {
  background-color: #fff;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

//.nav-transparent {
//  background: transparent;
//  border: none;
//  box-shadow: none;
//}