{% extends 'organizer/stepper/competition_wizard.html.twig' %}
{% block title %}Rezultatų įvedimas{% endblock %}
{% block panelName %}  Varžybų pradžios instrukcija {% endblock %}

{% block body %}
    <div class="card mt-4 border-0 bg-transparent u-no-box-shadow">
        <div class="card-body u-mb-40">
            <div class="row justify-content-center">
                <div class="col">
                    <ol>
                        <li><h6>Prieš pradedant varžybas, galite tik įvesti visų komandų,
                                dalyvaujančių varžybose duomenis . </h6>
                            <ul>
                                <li> Komanda privalo turėti komandos pavadinimą ir bent vieną
                                    komandos narį.
                                </li>
                                <li> Po pridėjimo turite galimybę ištrinti komandą.</li>
                            </ul>
                        </li>
                        <li><h6>Sektorių priskyrimas komandoms reiškia varžybų pradžią. </h6>
                            <ul>
                                <li>Prie kiekvienos komandos įrašykite sektorius, kuriuos išsitraukė
                                    varžybų pradžioje.
                                </li>
                            </ul>
                        </li>
                        <li><h6> Priskyrę visus sektorius, galite pradėti vesti rezultatus.</h6>
                            <ul>
                                <li>Pasirinkite sektorių, kuriam rezultatus norite vesti.
                                </li>
                                <li>Suvedę to sektoriaus rezultatus, spauskite kitas sektorius.</li>
                                <li>Suvedę rezultatus spauskite išsaugoti.</li>
                            </ul>
                        </li>
                        <li><h6>Norint užbaigti varžybas paspauskite "užbaigti varžybas".</h6>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row justify-content-end py-3">
                <a href="{{ path("organizerCreateTeams", {"hash": hash}) }}"><button class="button">Toliau...<i class="fas fa-arrow-right ml-3"></i></button></a>
            </div>
        </div>
    </div>
{% endblock %}