*:focus {
  outline: none !important;
}

.card {
  margin-bottom: 10px;

}

.card-title {
  font-size: 1.5rem;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

.form__input {
  border: none;
  border-bottom: 3px solid $mainGrey;
  border-radius: 0;
  width: 50%;
  transition: 0.5s;

  &:active {
    border-color: $mainBlue;
  }

  &:focus {
    outline-width: 0;
  }
}

.form__input--blue {
  border: none;
  border-bottom: 2px solid $mainBlue;
}

.form__select {
  select {
    border-radius: 0;
    border-color: $mainGrey;
    width: 50%;
    &:active {
      border-color: $mainBlue;
    }
  }
}
#competition_form_competitionType {
  width: 50%;
}


.form-group {
  select {
    border-radius: 50px;
    border: 1px solid $mainGrey;
    margin-bottom: 10px;
    min-width: 150px;
  }
}


textarea.form-control {
    border-radius: 10px;
    border: 2px solid $mainBlue;
  }
