@import "float-label";

*:focus {
  outline: none !important;
}

.form-control {
  select {
    border-bottom: 1px solid $mainGreen !important;
    width: auto !important;
    min-width: 30px;
    min-height: 35px;
  }
  &:focus {
    box-shadow: none;
  }
}

.card {
  margin-bottom: 10px;

}

.form__card {
  border: none;
  border-radius: 0;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

  .form-control.select {
    border: none;

  }

}

.card-title {
  font-size: 1.5rem;
}

.form__input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $mainGrey;
  border-radius: 0;
  width: 50%;
  transition: 0.5s;

  &:active {
    border-color: $mainGreen;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .22), 0 3px 1px -2px rgba(0, 0, 0, .25), 0 1px 5px 0 rgba(0, 0, 0, .22);
  }

  &:focus {
    outline-width: 0;
  }
}

.form__input--full {
  width: 100%;
}

.form__input--blue {
  border: none;
  border-bottom: 2px solid $mainGreen;
}

.form__select {
  select {
    border: none;
    border-bottom: 1px solid $mainGreen;
    width: auto;
    margin: 10px 5px;
    padding: 5px;
    background-color: transparent;
  }
}

#competition_form_competitionType {
  width: 50%;
}

.form-group {
  select {
    margin-bottom: 10px;
    min-width: 150px;
    margin-right: 5px;
    border: none;
    &:active {
      border: 1px solid $mainGreen;
    }
  }
}

textarea.form-control {
  border-radius: 0;
  border: 1px solid $mainGreen;
}

.first-input-width {
  max-width: 320px;
}

.second-input-width {
  max-width: 305px;
}

.form-team-name {
  border-bottom: solid 1px black;
}

