.team-list {
  padding: 0;
  margin: 0;
  .team-list__title{
    font-size: 20px;
  }
  .team-list__element {
    width: 100%;
    margin-top: -1px;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s;
  }
  .team-list__delete {
    cursor: pointer;
    position: absolute;
    transform: translate(0%, -50%);
    transition: 0.5s;
    color: red;
    font-size: 30px;
    margin-top: 34px;
    &:hover {
     font-size: 35px;
      color: darken(red, 10%);

    }
  }
}
