@media only screen and (max-device-width: 1024px) {
  .form__input {
    width: 100%;
  }

  .form-group {
    select {
      width: 100%;
    }
  }
  .form__card {

    margin-left: 0px;
    margin-right: 0px;
  }

  .form-team-name {
    font-size: 25px;
  }
  .form-team-added-teams {
    font-size: 25px;
  }

}
