<div class="card js-overview-table flex-fill rounded-0 shadow p-0 mr-2">
    <div class="card-header u-bg-main text-white h4 u-text-bold rounded-0">
        <span class="fas fa-chart-pie h4 px-2 "></span>Varžybų santrauka
    </div>
    <div class="card-body px-0">
        <div class="row mx-0 py-1">
            <div class="col-7 card-text text-left">
                Didžiausia žuvis:</div>
            <div class="col u-text-bold"> {{ results['bigFish']['weigh'] }} kg</div>
        </div>
        <div class="row mx-0 py-1">
            <div class="col-7 card-text text-left"> Pagavo: </div>
            <div class="col u-text-bold">{{ results['bigFish']['team'] }}</div>
        </div>
        <div class="row mx-0 py-1">
            <div class="col-7 card-text text-left"> Bendras svoris:</div>
            <div class="col u-text-bold">{{ results['totalWeigh'] }} kg</div>
        </div>
        <div class="row mx-0 py-1">
            <div class="col-7 card-text text-left"> Bendras skaičius:</div>
            <div class="col u-text-bold">{{ results['totalCount'] }} vnt.</div>
        </div>
    </div>
</div>