<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
           {#TODO:// reikia logo#}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar__link--black nav-link" href="{{ path("competitionCreate") }}#">Organizuoti varžybas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar__link--black" href="#previousCompetition">Renginiai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar__link--black" href="#About-us">Apie mus</a>
                </li>
            </ul>
        </div>
    </div>
</nav>