{% extends 'base.html.twig' %}
{% block title %}Results{{ parent() }}{% endblock %}
{% block body %}
    {{ include ('navBar/navBar.html.twig') }}
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
{% endblock %}