.u-mt-10 {
  margin-top: 10rem;
}

.u-mb-10 {
  margin-bottom: 10rem !important;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pb-5 {
  padding-bottom: 5rem;
}

.u-mt-10 {
  margin-top: 10rem !important;
}

.u-mb-10 {
  margin-bottom: 10rem !important;
}

.u-bg-grey {
  background-color: #f5f5f5;
}
.u-bg-grey {
  background-color: #f5f5f5;
}
.u-bg-picture{
  background:  url("/images/date.png") no-repeat fixed ;
}

.bg-red {
  background-color: #8a9094;
}

.u-text-grey {
  color: #616161;
}

.u-no-padding {
  padding: 0 !important;
}

.u-mt-minus {
  margin-top: -7%;
}

.u-text-bold {
  font-weight: 700 !important;
}

.u-bg-main-text {
  color: $mainGreen;
}

.u-bg-main-g {
  background-color: $mainGreen;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(37, 106, 93, 1) 44%, rgba(37, 106, 93, 1) 100%);
}

.u-bg-main {
  background-color: $mainGreen;
}

.u-text-white {
  color: #fff;
}

.u-text-gold {
  color: $crownGold;
}

.u-text-silver {
  color: $crownSilver;
}

.u-text-bronze {
  color: $crownBronze;
}

.u-no-mt {
  margin-top: 0 !important;
}

.u-font-13 {
  font-size: 13px;
}

.u-font-24{
  font-size: 24px;
}

.u-max-width-40 {
  .u-max-width-40 {
    max-width: 400px;
  }
}