.u-mt-10 {
  margin-top: 10rem ;
}

.u-mb-10 {
  margin-bottom: 10rem !important;
}



.u-mt-10 {
  margin-top: 10rem !important;
}

.u-mb-10 {
  margin-bottom: 10rem !important;
}

.u-bg-grey {
  background-color: #f5f5f5;
}

.bg-red {
  background-color: red;
}