
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "./styles";




.card-shadow{
  box-shadow: 10px 10px 5px grey;
}
.container-index{
  padding-bottom: 40px;
  padding-top: 20px;
}

.check-box{
  height: 20px;
  width: 20px;
  margin: 0 15px;
}

.sector-button {
  min-height: 40px;
  min-width: 80px;
  background: #DDDDDD;
  color: #3E8AEC;
  border-right: 1px solid #3E8AEC;
}

.sector-button:hover{
  text-decoration: none;
  color: #3E8AEC;
  border-color: #000;
}


.sector-button--active{
  background: #FFF;
  border: 1px solid #3E8AEC;
  border-right-color: transparent;
}

.text-box{
  border-color: #3E8AEC;
  border-width: 0 0 1px 0;
}
.text-box--results{
  max-width: 90px;
  line-height: 0;
  margin: 10px;
}

.results-entry-container{
  border-width: 1px 1px 1px 0;
  border-color: #3E8AEC;
  border-style: solid;
}

.lh-1{
  line-height: 1;
}

.btn-icon--round{
  border-radius: 50%;
  line-height: 0;
  height: 32px;
  width: 32px;
}
@media (min-width: 992px) {


}