body, html {
  font-family:'Jura', sans-serif;
  width: 100%;
  height: 100%;
  font-weight: 100 !important;
  box-sizing: border-box;
  padding-top: 0 !important;
}

footer {
  color: white;
  border-top: 1px solid $mainGreen;
  background: $mainGreen;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

.page-name-container {
  margin-top: 50px;
  margin-bottom: 20px;
  background: linear-gradient(to top,black,transparent 90%),url(public/images/header_hq.png) 50%;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
  color: white;
  h2 {
    font-size: 3rem;
    text-align: center;
  }
}