body, html {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100%;
  font-weight: 100 !important;
  box-sizing: border-box;
  padding-top: 0 !important;
}

footer {
  color: black;
  border-top: 1px solid $mainBlue;
  background: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}