.results-table {

  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  table-layout: auto;
  text-align: left;
  font-size: 14px;
  border-collapse: collapse;

  &__header {
    background-color: $mainGreen;
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
  }

  &__row {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &--th {
      height: 40px;
    }

    &--highlight {
      background-color: $lightGrey;
    }

    &:hover {
      background-color: #EDEDED;
    }
  }

  &__cell {
    padding: 5px;

    &--th {
      border: 1px solid #fff;
    }
  }


  &__body {

  }

}