<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ "My project" }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block canonical_meta %}{% endblock %}
</head>
<body>
        {% include "navBar/navBar.html.twig" %}
        {% include "flashMessages.html.twig" %}
        {% block body %}{% endblock %}
<footer class="py-5 u-bg-grey">
    <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; PHookP 2018</p>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
