<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ "My project" }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block canonical_meta %}{% endblock %}
</head>
<body>
         {#Removed navBar#}
        {% include "flashMessages.html.twig" %}
        {% block body %}{% endblock %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; PHookP 2018</p>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
