{% extends 'base.html.twig' %}
{% block title %}Create event {{ parent() }}{% endblock %}
{% block body %}
    <div class="container-fluid">
            <div class="card">
                <div class="card-header text-center h5 bg-dark text-light>
                    Sverimo #1 rezultatai
                </div>
                <div class="card-body px-0">
                    <div class="row ma-0">
                        <div class="col-4 border-dark p-0" >
                            <div class="table-responsive" style="height: 75vh;">
                            {% for sector in sectors %}
                                <div class="card">
                                    <div class="card-body px-0 py-2">
                                        <div class="h3 text-center">{{ sector.number }}</div>
                                        <div class="text-center">Sektorius</div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col-8 border-dark">

                            {% for num in range(0, 2 %}
                                <div class="row">
                                    <div class="col-8">
                                        <input type="text" id="{{ num }}" placeholder="Svoris" class="form-control" />
                                    </div>
                                    <div class="col-4 text-light">
                                        <input type="checkbox" value="true"> Amuras
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mt-2 bg-light">
                        <div class="btn btn-outline-dark col-6 text-center">Kitas sektorius >></div>
                        <div class="btn btn-outline-dark col-6 text-center">Issaugoti</div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}