.tingle-modal-box__content {
  padding: 0px !important;
}

.results-modal__header{
  background-color: $mainGreen;
  min-height: 48px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0 -48px 20px -48px;
  padding: 10px;
}
