{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nepavyko rasti bandomo pasiekti puslapio.</h1>

    <p>
        Patikrinkite ar adresas neturi klaidų ir bandykite vėl, arba spauskite <a href="{{ path('homepage') }}">grįžti į pradžią</a>.
    </p>
{% endblock %}