.table-container {
  display: flex;
  justify-content: center;
}
.table-head {
  background-color: $mainGreen;
}

.tr--border-bottom--white {
  border-bottom: 1px solid #fff;
}

.weighin-th {
  text-align: center;
}

.th--border--white{
  border: 1px solid #fff;
}
.thead-primary {
    background-color: $mainGreen;
  th{
    color: #fff;

  }
}